<?xml version="1.0" encoding="UTF-8"?>
<suite name="LeetCode Progress Tracker Suite" verbose="1">
    <parameter name="browser" value="chrome"/>
    
    <test name="LeetCode Progress Extraction Tests" preserve-order="true">
        <classes>
            <class name="com.leetcode.tests.LeetCodeProgressTest">
                <methods>
                    <include name="testLeetCodeProgressExtraction"/>
                </methods>
            </class>
        </classes>
    </test>
    
    <test name="Individual Difficulty Level Tests" enabled="false">
        <classes>
            <class name="com.leetcode.tests.LeetCodeProgressTest">
                <methods>
                    <include name="testExtractEasyQuestions"/>
                    <include name="testExtractMediumQuestions"/>
                    <include name="testExtractHardQuestions"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>